.mdl-button--myColorValidate {
    background: #22ABE8;
    color: snow;
    text-transform: initial;
}

.littleButton {
    background: #22ABE8;
    width: 30px;
    color: snow;
    text-transform: initial;
}

.bigButton {
    background: #22ABE8;
    width: 80%;
    height: 10rem;
    color: snow;
    font-size: 250%;
    text-transform: initial;
}

.middleButton {
    background: #22ABE8;
    width: 60%;
    height: 10rem;
    color: snow;
    font-size: 170%;
    text-transform: initial;
}

.mdl-button--myColorCancel {
    background:#DC2C69;
    color: snow;
    text-transform: initial;
    margin-left: 5px;
}

.buttonTop
{
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.buttonBottom
{
    margin-bottom: 1em;
}