{% extends 'base.html.twig' %}

{% block title %} StoreFreeze {% endblock %}

{% block body_id %}app{% endblock %}

{% block header %}

    {# {% include 'shared/_header.html.twig' %} #}
{% endblock %}

{% block main %}
    {% include 'baseOpen.html.php' %}

<div class="mdl-tabs__tab-bar">
    <a class="mdl-navigation__link mdl-tabs__tab" href="createRecette">Ajouter Recette</a>
    <a class="mdl-navigation__link mdl-tabs__tab" href="readRecette">Voir Recette</a>
</div>


<p class="h2 col-12" >


    {# {{ 'title.app'|trans }} #}
    RECIPE
</p>

    {% include 'baseClose.html.php' %}
{% endblock %}
